body {
  min-height: 100vh;
  color: #fff;
  background: #f56051;
}

.link--footer {
  display: inline-block;
  position: relative;
  transition: transform 0.2s;
  color: #444;

  &:hover,
  &:focus {
    transform: translateY(-4px);
  }
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding: 0.5em;
  border: none;
  background: #444;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;

  svg {
    vertical-align: middle;
  }

  &:active {
    box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),inset 0 3px 4px 0 rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.125);
    outline: none;
  }
}

.message {
  position: absolute;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  width: 100%;
  left: 0;

  &.is-active {
    transform: translateY(-20px);
    opacity: 1;
    visibility: visible;
  }
}
